@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap");

h1 {
	font-family: Libre Baskerville, "sans-serif";
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}
